@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Desenvolvido por @ViewData["Dev"] baseado no projeto do curso de C# completo 
    do professor Nelio Alves
</p>

<address>
    <strong>More information: </strong> 
    <a href="https://github.com/pHMqZ/SalesWeb_MVC" target="_blank">Sales Web Application</a>
</address>
